.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.about {
  background: url("../../../assets/img/01.png");
  padding-bottom: 0.9375em; }
  .about .data {
    font-size: 4.0625em;
    color: #051736;
    padding-top: 3.125em;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 3px;
    text-align: center; }
    @media (max-width: 23.4375em) {
      .about .data {
        font-size: 2.1875em;
        padding-top: 5.625em; } }
    @media (max-width: 26.5625em) and (min-width: 23.6875em) {
      .about .data {
        font-size: 2.8125em;
        padding-top: 6.25em; } }
    @media (max-width: 42.75em) and (min-width: 26.625em) {
      .about .data {
        font-size: 3.125em;
        padding: 0.3125em;
        padding-top: 6.25em; } }
    @media (max-width: 48em) and (min-width: 42.1875em) {
      .about .data {
        padding: 0.3125em;
        padding-top: 3.125em; } }
  .about .about-button {
    margin-top: 3.125em;
    padding-bottom: 0.9375em; }
    .about .about-button .link {
      padding: 0.75em 2.1875em;
      text-decoration: none;
      border: 0;
      color: #df0054;
      font-size: 0.9375em;
      background: transparent;
      transition: 0.3s ease-in-out;
      outline: 2px solid #df0054;
      outline-offset: 2px; }
      .about .about-button .link:hover {
        box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.05); }
