@import "../../../assets/sass/base.scss";
@import "../../../assets/sass/em.scss";
.about {
  background: url("../../../assets/img/01.png");
  padding-bottom: em(15);
  .data {
    font-size: em(65);
    color: $black;
    padding-top: em(50);
    font-weight: 600;
    line-height: em(20);
    letter-spacing: 3px;
    text-align: center;

    @media (max-width: em(375)) {
      font-size: em(35);
      padding-top: em(90);
    }

    @media (max-width: em(425)) and (min-width: em(379)) {
      font-size: em(45);
      padding-top: em(100);
    }

    @media (max-width: em(684)) and (min-width: em(426)) {
      font-size: em(50);
      padding: em(5);
      padding-top: em(100);
    }

    @media (max-width: em(768)) and (min-width: em(675)) {
      padding: em(5);
      padding-top: em(50);
    }
  }
  .about-button {
    margin-top: em(50);
    padding-bottom: em(15);

    .link {
      padding: em(12) em(35);
      text-decoration: none;
      border: 0;
      color: $primary;
      font-size: em(15);
      background: transparent;
      transition: 0.3s ease-in-out;
      outline: 2px solid $primary;
      outline-offset: 2px;
      &:hover {
        box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
