@import "../../../assets/sass/base.scss";
@import "../../../assets/sass/em.scss";
.book {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  width: em(320);
  min-height: em(100);
  border-radius: 7px;
  background: white;
  margin: em(25) em(8);
  padding: em(20);
  background: url("../../../assets/img/01.png"), white;
  background-size: em(150);
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.25s ease;
  @media (max-width: em(375)) {
    margin: em(10) !important;
  }

  @media (max-width: em(425)) and (min-width: em(375)) {
    margin: em(10) 0;
  }
  &:hover {
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.05);
  }
}

.book-about {
  & > div {
    outline: 1px solid red;
  }
  .book-title {
    font-size: em(18);
    color: $black;
    &:before {
      background-image: url("https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/129/fire_1f525.png");
      background-size: 16px 16px;
      display: inline-block;
      width: 16px;
      height: 16px;
      content: "";
      // outline: 1px solid red;
      margin-right: 4px;
    }
  }
}

.book-author {
  color: $grey;
  transition: 0.3s ease;
  text-transform: capitalize;
  &:hover {
    color: $primary;
  }
}

.book-footer {
  .like {
    margin-right: auto;
    font-size: em(20);
    color: $black;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;

    .counter {
      font-size: em(13px);
      margin-left: em(5);
      padding: 0;
    }
  }
  .category {
    color: $grey;
    transition: 0.3s ease;
    text-transform: lowercase;
    &:hover {
      color: $primary;
    }
  }
}

.book-link {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
