.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.book {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  width: 20em;
  min-height: 6.25em;
  border-radius: 7px;
  background: white;
  margin: 1.5625em 0.5em;
  padding: 1.25em;
  background: url("../../../assets/img/01.png"), white;
  background-size: 9.375em;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.25s ease; }
  @media (max-width: 23.4375em) {
    .book {
      margin: 0.625em !important; } }
  @media (max-width: 26.5625em) and (min-width: 23.4375em) {
    .book {
      margin: 0.625em 0; } }
  .book:hover {
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.05); }

.book-about > div {
  outline: 1px solid red; }

.book-about .book-title {
  font-size: 1.125em;
  color: #051736; }
  .book-about .book-title:before {
    background-image: url("https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/129/fire_1f525.png");
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    margin-right: 4px; }

.book-author {
  color: #bdbdbd;
  transition: 0.3s ease;
  text-transform: capitalize; }
  .book-author:hover {
    color: #df0054; }

.book-footer .like {
  margin-right: auto;
  font-size: 1.25em;
  color: #051736;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex; }
  .book-footer .like .counter {
    font-size: 0.8125em;
    margin-left: 0.3125em;
    padding: 0; }

.book-footer .category {
  color: #bdbdbd;
  transition: 0.3s ease;
  text-transform: lowercase; }
  .book-footer .category:hover {
    color: #df0054; }

.book-link {
  text-decoration: none; }

.link {
  text-decoration: none; }
