@import "../../../assets/sass/base.scss";
@import "../../../assets/sass/em.scss";
.content-wrapper {
  padding-top: em(10);
  padding-bottom: em(100);
  box-shadow: 10px 0px 30px 10px rgba(198, 198, 198, 0.1);

  @media (max-width: em(375)) {
    width: 100%;
  }
  .tabs {
    margin: 0 auto;
    background: white;
    margin-top: em(20);
    width: 50vw;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid #eaeaea;
    border-radius: 8px;
    transition: 0.3s ease;

    @media (max-width: em(375)) {
      width: 90% !important;
    }
    @media (max-width: em(425)) and (min-width: em(375)) {
      width: 80% !important;
    }
    &:hover {
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1),
        0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }
    .tab {
      color: $black;
      margin: em(10) em(20);
      text-decoration: none;
      padding: em(7);
      @media (max-width: em(375)) {
        padding: em(5);
        margin: em(5) em(10);
      }

      @media (max-width: em(425)) and (min-width: em(375)) {
        margin: em(5) em(10);
      }
    }
    .active {
      color: $primary;
    }
  }
  .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: em(40);
    margin-bottom: em(30);

    @media (max-width: em(375)) {
      padding: 0 em(5);
      margin: 0;
    }
  }
}
