.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.content-wrapper {
  padding-top: 0.625em;
  padding-bottom: 6.25em;
  box-shadow: 10px 0px 30px 10px rgba(198, 198, 198, 0.1); }
  @media (max-width: 23.4375em) {
    .content-wrapper {
      width: 100%; } }
  .content-wrapper .tabs {
    margin: 0 auto;
    background: white;
    margin-top: 1.25em;
    width: 50vw;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid #eaeaea;
    border-radius: 8px;
    transition: 0.3s ease; }
    @media (max-width: 23.4375em) {
      .content-wrapper .tabs {
        width: 90% !important; } }
    @media (max-width: 26.5625em) and (min-width: 23.4375em) {
      .content-wrapper .tabs {
        width: 80% !important; } }
    .content-wrapper .tabs:hover {
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08); }
    .content-wrapper .tabs .tab {
      color: #051736;
      margin: 0.625em 1.25em;
      text-decoration: none;
      padding: 0.4375em; }
      @media (max-width: 23.4375em) {
        .content-wrapper .tabs .tab {
          padding: 0.3125em;
          margin: 0.3125em 0.625em; } }
      @media (max-width: 26.5625em) and (min-width: 23.4375em) {
        .content-wrapper .tabs .tab {
          margin: 0.3125em 0.625em; } }
    .content-wrapper .tabs .active {
      color: #df0054; }
  .content-wrapper .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 2.5em;
    margin-bottom: 1.875em; }
    @media (max-width: 23.4375em) {
      .content-wrapper .content {
        padding: 0 0.3125em;
        margin: 0; } }
