.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

footer {
  background: #f6f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125em 7.5em;
  flex-wrap: wrap; }
  @media (max-width: 23.4375em) {
    footer {
      background: url("../../../assets/img/01.png");
      box-shadow: 10px 0px 30px 10px rgba(198, 198, 198, 0.1); } }
  @media (max-width: 26.5625em) and (min-width: 23.375em) {
    footer {
      background: url("../../../assets/img/01.png");
      box-shadow: 10px 0px 30px 10px rgba(198, 198, 198, 0.1); } }
  @media (max-width: 48em) and (min-width: 26.625em) {
    footer {
      padding: 2.1875em; } }
  @media (max-width: 44.875em) and (min-width: 26.625em) {
    footer > div {
      width: 100%;
      text-align: center; } }
  footer .footer-about {
    font-size: 1.875em;
    margin-right: auto; }
    @media (max-width: 23.4375em) {
      footer .footer-about {
        font-size: 2.1875em; } }
    @media (max-width: 26.5625em) and (min-width: 23.375em) {
      footer .footer-about {
        font-size: 2.5em; } }
    footer .footer-about .copyright {
      margin-top: 0.625em;
      font-size: 0.53125em;
      color: #47525d; }
      @media (max-width: 23.4375em) {
        footer .footer-about .copyright {
          font-size: 0.4375em; } }
  footer .ref {
    display: flex;
    flex-flow: nowrap column;
    margin: 0em 6.25em; }
    @media (max-width: 23.4375em) {
      footer .ref {
        width: 100%;
        padding: 0.625em 2.5em 0.3125em 0em; } }
    @media (max-width: 26.5625em) and (min-width: 23.375em) {
      footer .ref {
        width: 100%;
        margin: 0;
        padding-left: 0.5em;
        margin-top: 1.25em; } }
    @media (max-width: 44.875em) and (min-width: 26.625em) {
      footer .ref {
        margin-top: 1.25em; } }
    footer .ref .ref-Link {
      font-size: 1.125em;
      color: #051736;
      margin: 0.625em 0em;
      text-decoration: none; }
