@import "../../../assets/sass/base.scss";
@import "../../../assets/sass/em.scss";

footer {
  background: #f6f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: em(50) em(120);
  flex-wrap: wrap;

  @media (max-width: em(375)) {
    background: url("../../../assets/img/01.png");
    box-shadow: 10px 0px 30px 10px rgba(198, 198, 198, 0.1);
  }

  @media (max-width: em(425)) and (min-width: em(374)) {
    background: url("../../../assets/img/01.png");
    box-shadow: 10px 0px 30px 10px rgba(198, 198, 198, 0.1);
  }

  @media (max-width: em(768)) and (min-width: em(426)) {
    padding: em(35);
  }

  @media (max-width: em(718)) and (min-width: em(426)) {
    & > div {
      width: 100%;
      text-align: center;
    }
  }
  .footer-about {
    font-size: em(30);
    margin-right: auto;

    @media (max-width: em(375)) {
      font-size: em(35);
    }

    @media (max-width: em(425)) and (min-width: em(374)) {
      font-size: em(40);
    }
    .copyright {
      margin-top: em(10);
      font-size: em(8.5);
      color: $ash;

      @media (max-width: em(375)) {
        font-size: em(7);
      }
    }
  }

  .ref {
    display: flex;
    flex-flow: nowrap column;
    margin: em(0) em(100);
    @media (max-width: em(375)) {
      width: 100%;
      padding: em(10) em(40) em(5) em(0);
    }

    @media (max-width: em(425)) and (min-width: em(374)) {
      width: 100%;
      margin: 0;
      padding-left: em(8);
      margin-top: em(20);
    }
    @media (max-width: em(718)) and (min-width: em(426)) {
      margin-top: em(20);
    }
    .ref-Link {
      font-size: em(18);
      color: $black;
      margin: em(10) em(0);
      text-decoration: none;
    }
  }
}
