@import "../../../assets/sass/base.scss";
@import "../../../assets/sass/em.scss";
.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 7vh;
  border-bottom: 1px solid lighten($color: $ash, $amount: 55);
  padding: em(8) em(10);
  background: white;
  opacity: 10;
  position: fixed;
  width: 100%;
  color: $black;
  text-align: center;

  @media (max-width: em(375)) {
    height: em(150);
    // display: none;
  }
  @media (max-width: em(425)) and (min-width: em(374)) {
    height: em(170);
  }

  @media (max-width: em(425)) and (min-width: em(374)) {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  @media (max-width: em(684)) and (min-width: em(426)) {
    height: em(150);
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
.navbrand {
  font-size: em(30);
  text-decoration: none;
  color: $black;
  margin-right: auto;
  padding-left: em(50);
  @media (max-width: em(375)) {
    width: 100%;
    text-align: center;
    padding: em(5) 0;
  }

  @media (max-width: em(425)) {
    width: 100%;
    text-align: center;
    padding: em(5) 0;
  }

  @media (max-width: em(684)) and (min-width: em(426)) {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.links {
  @media (max-width: em(375)) {
    font-size: em(18);
  }

  @media (max-width: em(425)) {
    font-size: em(20);
  }
  @media (max-width: em(684)) and (min-width: em(426)) {
  }
  .link {
    margin: 0 em(20);
    text-decoration: none;
    color: $black;
    font-size: em(16);
    font-weight: 100px;
    text-transform: capitalize;
  }
}

.auth-buttons {
  margin-right: em(40);
  @media (max-width: em(375)) {
    margin: em(20) 0;
  }

  @media (max-width: em(425)) {
    margin: em(15) 0;
  }

  @media (max-width: em(684)) and (min-width: em(426)) {
    margin: em(0) 0;
    width: 100%;
  }
  .button {
    color: white;
    padding: em(8) em(25);
    margin: 0 em(10);
    background: $primary;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1),
        0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }

    &:first-child {
      background: transparent;
      box-shadow: none;
      border: 2px solid $primary;
      padding: em(7) em(25);
      color: $black;
      font-weight: normal;
    }
  }
}
