.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 7vh;
  border-bottom: 1px solid #dadee3;
  padding: 0.5em 0.625em;
  background: white;
  opacity: 10;
  position: fixed;
  width: 100%;
  color: #051736;
  text-align: center; }
  @media (max-width: 23.4375em) {
    .header {
      height: 9.375em; } }
  @media (max-width: 26.5625em) and (min-width: 23.375em) {
    .header {
      height: 10.625em; } }
  @media (max-width: 26.5625em) and (min-width: 23.375em) {
    .header {
      text-align: center;
      margin: 0;
      padding: 0; } }
  @media (max-width: 42.75em) and (min-width: 26.625em) {
    .header {
      height: 9.375em;
      text-align: center;
      margin: 0;
      padding: 0; } }

.navbrand {
  font-size: 1.875em;
  text-decoration: none;
  color: #051736;
  margin-right: auto;
  padding-left: 3.125em; }
  @media (max-width: 23.4375em) {
    .navbrand {
      width: 100%;
      text-align: center;
      padding: 0.3125em 0; } }
  @media (max-width: 26.5625em) {
    .navbrand {
      width: 100%;
      text-align: center;
      padding: 0.3125em 0; } }
  @media (max-width: 42.75em) and (min-width: 26.625em) {
    .navbrand {
      width: 100%;
      text-align: center;
      padding: 0; } }

@media (max-width: 23.4375em) {
  .links {
    font-size: 1.125em; } }

@media (max-width: 26.5625em) {
  .links {
    font-size: 1.25em; } }

.links .link {
  margin: 0 1.25em;
  text-decoration: none;
  color: #051736;
  font-size: 1em;
  font-weight: 100px;
  text-transform: capitalize; }

.auth-buttons {
  margin-right: 2.5em; }
  @media (max-width: 23.4375em) {
    .auth-buttons {
      margin: 1.25em 0; } }
  @media (max-width: 26.5625em) {
    .auth-buttons {
      margin: 0.9375em 0; } }
  @media (max-width: 42.75em) and (min-width: 26.625em) {
    .auth-buttons {
      margin: 0em 0;
      width: 100%; } }
  .auth-buttons .button {
    color: white;
    padding: 0.5em 1.5625em;
    margin: 0 0.625em;
    background: #df0054;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s ease-in-out; }
    .auth-buttons .button:hover {
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08); }
    .auth-buttons .button:first-child {
      background: transparent;
      box-shadow: none;
      border: 2px solid #df0054;
      padding: 0.4375em 1.5625em;
      color: #051736;
      font-weight: normal; }
