@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Sans";
  src: url("./assets/fonts/Sans.ttf");
  font-weight: normal; }

* {
  font-family: "Nexa", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0; }

.link,
.button,
.tab,
.book-author,
.category,
.counter,
.copyright,
.ref-Link {
  font-family: "Sans" !important; }

#root {
  overflow: hidden; }
